<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" content="text/html">
    <title>Afer Summary</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <h1 class="page-header text-center">Résumé des Fonds Afer</h1>
    <div class="afer">
      <br>
      <div class="form-inline container text-center global-date">
        <strong>Simulation globale:</strong>
        du <input type="date" v-model="globalBeginDate" v-on:change="changeGlobalDate" class="form-control">
        au <input type="date" v-model="globalEndDate" v-on:change="changeGlobalDate" class="form-control">
      </div>
      <div v-for="fund in funds" class="container">
        <span class="h2">{{ fund.name }}</span>
        <em class="well well-sm perf">Performance: {{ fund.perf }}</em>
        <div class="form-inline input-date">
          Simulation du
          <input type="date" v-model="fund.beginDate" v-on:change="changeFundDate(fund)" class="form-control">
          au
          <input type="date" v-model="fund.endDate" v-on:change="changeFundDate(fund)" class="form-control">
        </div>
        <highcharts :options="fund.options" ref="highcharts"></highcharts>
        <hr>
      </div>
    </div>
    <!-- JS Scripts -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="www/bundle.js"></script>
  </body>
</html>
